@import "assets/styles/breakpoints.scss";
@import "assets/styles/colors.scss";

.afdq-topbar-container {
  background: url("/afdq/bg-2022.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  padding: 30px 0;
  overflow: hidden;
  @include for-tablet-portrait-up {
    padding: 30px 0;
  }

  .image-placeholder {
    position: absolute;
    bottom: -30px;
    right: -10px;
    height: 100px;
    opacity: 1;

    @include for-tablet-portrait-up {
      right: 20px;
      height: 110px;
      opacity: 1;
    }

    @include for-tablet-landscape-up {
      right: -40px;
      height: 130px;
      opacity: 1;
    }
  }
  .announcement-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;

    .text-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;

      .header {
        white-space: nowrap;
        font-family: "Montserrat";
        font-size: 1.5rem;
        line-height: 1.5rem;
        display: inline;
        color: $afdqgold;

        // margin-bottom: 5px;
        @include for-tablet-portrait-up {
          font-size: 2.5rem;
          line-height: 2rem;
        }

        @include for-tablet-landscape-up {
          font-size: 3.5rem;
          line-height: 3rem;
        }

        strong {
          font-weight: 700;
        }
      }

      .sub-header {
        font-family: "Montserrat";
        font-size: 12px;
        color: $afdqgold;

        @include for-tablet-portrait-up {
          font-size: 1rem;
        }
      }
    }
  }
}
