@import "assets/styles/breakpoints.scss";
@import "assets/styles/colors.scss";

.afdq-topbar-container {
  background: url("/afdq/bg-2022.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  // overflow: hidden;
  padding: 1rem .5rem;
  @include for-tablet-portrait-up {
  }

  .image-placeholder {
    position: absolute;
    bottom: -30px;
    right: -10px;
    height: 100px;
    opacity: 1;

    @include for-tablet-portrait-up {
      right: 20px;
      height: 110px;
      opacity: 1;
    }

    @include for-tablet-landscape-up {
      right: -40px;
      height: 130px;
      opacity: 1;
    }
  }

  .announcement-container {
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .text-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      // flex-grow: 1;
      // margin-bottom: 0.5rem;
      .header {
        width: 100%;
        white-space: wrap;
        font-family: "Montserrat";
        font-style: normal;
        font-size: 1.2rem;
        text-align: center;
        line-height: 1.5rem;
        font-weight: 700;
        // display: inline;
        color: $afdqgold;
        transform: scaleX(0.9);

        @include for-tablet-portrait-up {
          font-size: 2rem;
          line-height: 2rem;
        }

        @include for-tablet-landscape-up {
          font-size: 3rem;
          line-height: 3rem;
        }

        strong {
          font-weight: 700;
        }
      }

      .sub-header {
        font-family: "Montserrat";
        font-style: normal;
        font-size: 12px;
        font-weight: 600;
        color: $afdqgold;

        @include for-tablet-portrait-up {
          font-size: 18px;
        }
      }
    }

    .sponsor-container {
      margin: .5rem 0;

      &::before {
        position: relative;
        display: block;
        content: "Powered by";
        text-align: center;
        font-family: "Montserrat";
        font-style: normal;
        font-size: 0.8rem;
        line-height: 1rem;
        font-weight: 500;
        color: $afdqgold;
        margin-bottom: 5px;
      }

      .img-wrapper {
        width: 100px;

        @include for-tablet-portrait-up {
        width: 150px;

        }
      }
    }
  }
}
