@import "assets/styles/breakpoints.scss";
@import "assets/styles/colors.scss";

  .afdq-tab {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 50px 15px;
    max-width: 1200px;
    margin: 0 auto;

    p {
      font-family: "Montserrat";
      font-size: 1rem;
    }

    strong {
      margin: 15px 0 10px 0;
      font-size: 1.5rem;
      line-height: 1.75rem;
    }

    & > .header {
      align-self: center;
      font-family: "Montserrat";
      color: $afdqgold;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 300;
      transform: scale(0.9, 1);
      margin-top: 30px;
      @include for-narrow-screen {
        font-size: 1.8rem;
      }

      @include for-tablet-portrait-up {
        font-size: 2rem;
      }
    }
  }