@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"); //new
@import "colors";
/* NPROGRESS */
#nprogress .bar {
  height: 5px !important;
  z-index: 9999 !important;
  background-color: $afdqyellow !important;

  // display: none;
}

#nprogress .peg {
  box-shadow: none !important;
}

#nprogress .spinner {
  display: block;
  position: relative;
  z-index: 1031;
  top: 70px !important;
  width: 60px !important;
  height: 60px !important;
  right: calc(50% - 25px) !important;
  background-color: $white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

#nprogress .spinner-icon {
  margin: 7.5px auto;
  width: 45px !important;
  height: 45px !important;
  box-sizing: border-box;
  border-width: 4px !important;
  border-top-color: $afdqviolet !important;
  border-left-color: $afdqviolet !important;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 800ms linear infinite !important;
  animation: nprogress-spinner 800ms linear infinite !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    font-family: "Montserrat";
    color: white;
    background: black;
  }
}

.alert-card {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;

  color: white;
  font-size: 0.8rem;
  padding: 10px;

  &.error {
    background-color: red;
  }

  &.success {
    background-color: green;
  }
}
