@import "assets/styles/colors.scss";
@import "assets/styles/breakpoints.scss";

.afdq-main-container {
  position: relative;
  background: url("/afdq/afdq2022-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  // padding-bottom: 50px;

  .dti-details {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .footer-strip {
    position: relative;
    height: 50px;
    width: 100vw;
    background-image: url("/afdq/footer-bg.png");
    background-size: contain;
  }
  .children {
    position: relative;
    z-index: 1;
  }
}
