@import "assets/styles/colors.scss";
@import "assets/styles/breakpoints.scss";

.afdq-main-container {
  position: relative;
  background: url("/afdq/afdq2022-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  min-height: 100vh;
  padding-bottom: 80px;

  .sticky-bottom {
    position: absolute;
    bottom: 0;
    .dti-details {
      font-size: .6rem;
      width: 100vw;
      position: relative;
      display: flex;
      justify-content: flex-end;
      padding: 5px;

      @include for-tablet-portrait-up {
        font-size: 1rem;
        line-height: 1;
      padding: 10px;

      }
    }

    .footer-strip {
      display: flex;
      position: relative;
      height: 50px;
      max-width: 100vw;
      overflow: hidden;

      .img-wrapper {
        height: 50px;
      }
    }
  }

  .children {
    position: relative;
    z-index: 1;
  }
}
