@import "assets/styles/colors.scss";

.modal-window.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  & > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }

  .modal-login {
    background-color: $afdqviolet;
    border-radius: 15px;
    .header {
      color: $msffyellow;
      font-size: 1rem;
      text-align: center;
      font-weight: bold;
      margin: 0 auto;
      padding-bottom: 10px;
    }

    .login-form {
      label {
        text-transform: uppercase;
        font-size: 12px;
        color: white;
        font-weight: 800;
      }

      .login-button {
        color: black;
        text-transform: uppercase;
        font-weight: 800;
        background-color: $afdqyellow;
        border-color: $afdqyellow;
      }

      .input {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        .input__label {
          position: absolute;
          left: 0;
          top: 0;
          padding: 6px 10px;
          margin: 9px 4px;
          white-space: nowrap;
          transform: translate(0.25rem, -65%) scale(0.8);
          color: $msffyellow;
          transform-origin: 0 0;
          background: $afdqviolet;
          font-weight: bold;
          line-height: 1.2;
        }
        .input__field {
          box-sizing: border-box;
          display: block;
          width: 100%;
          border: 3px solid $afdqyellow;
          padding: 12px 10px;
          color: white;
          background: transparent;
          border-radius: 4px;
        }
      }

      .links {
        display:flex;
        justify-content: space-between;
        color: white;
        font-size: 12px;

        &>div {
          cursor: pointer;
        }
      }
    }
  }
}

.modal-close {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  cursor: pointer;
}